body{
    margin: 0px;
    padding: 0px;
    background-image: url(../tarea7/proyectos/background-website.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.contenido{
    width: 80%;
    height: auto;
    margin-left: 20%;
}

.fotos{
    width: 200px;
    height: 200px;
    padding: 10px;
}

#tabla{
    margin-top: 32px;
}

#titulo{
    display: inline-block;
}

#logo{
    width: 150px;
    height: 150px;
    display: inline;
}

#twitter,#facebook,#instagram{
    width: 50px;
    height: 50px;
    display: inline-block;
    margin-left: 30px;
}

#aboutme{
    margin-top: 20px;
    margin-right: 40%;
    background-color: #85DDFF;
    height: fit-content;
    padding: 5px;
    border-radius: 10px;
}

